$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cLogoGreen: #65a344;
$cBgGreen: rgba(69, 168, 12, 0.5);
$clightGreen:rgb(200, 243, 227);
$cDarkGreen: rgb(41, 63, 66);
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cMenuClose: $cBlack;
$cMenuOpen:$cBlack;